/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;text-decoration:none}
strong{font-weight:bold;}
:focus{outline:0}
body{font-family:Arial, Helvetica, sans-serif;font-size:13px}
ol, ul{list-style:none}
table{border-collapse: separate;border-spacing:0}
caption, th, td{text-align: left;font-weight: normal}
blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q{ quotes: "" ""}
html{overflow:-moz-scrollbars-vertical}
a{color:#989898}
a:hover{text-decoration:none;}
.clear {clear: both;}
.radius{-moz-border-radius: 8px;border-radius: 8px;-webkit-border-radius: 8px;}
.shadow{box-shadow:0px 0px -10px #575757;-moz-box-shadow:0px 0px 1px #575757;-webkit-box-shadow:0px 0px 1px #575757;}
body{cursor: default;}
/* global */


.clear{
    clear:both;
}


#main{
    margin:0 auto;
    width:680px;
}

body{
    font-size:0.825em;
    color:#666;
    background-color:#fff;
    font-family:Arial, Helvetica, sans-serif;
}

h1,h2{
    font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
    font-style: italic;
    font-weight: 700;
}

h1{
    font-size: 27px;
}

h2{
    font-size:20px;
}

.note{
    font-size:12px;
    font-style:italic;
    padding-bottom:20px;
    text-align:center;
}

a, a:visited {
    color:#0196e3;
    text-decoration:none;
    outline:none;
}

a:hover{
    /*    text-decoration:underline;*/
}

a img{
    border:none;
}

/* container */
#container {width:980px; margin:0 auto; border:1px solid}

/* header */
#header{
    padding:15px 0 15px 25px;
    text-shadow:0 1px 1px white;

    margin-bottom:15px;
    background:url("img/page_bg.gif") repeat-x bottom #f8f8f8;
}

/* content */

/* config */
#config {
    font-size: 17px;
    text-align: center;
}

/* button */
.button {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 5px 17px;
    text-align: center;
}


/* button list*/
#buttons ul{
    text-align: center;
    width: 300px;
    margin: auto;
}
#buttons ul li {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 5px 10px;
}

#buttons ul li:hover {
/*    cursor: pointer;
    background: #666;
    color: #ddd;
    margin: 10px;
    padding: 5px 10px;*/
}

/* sidebar-left */
#sidebar-left {
    float: left;
    font-size: 13px
}

#sidebar-left div {
    margin-bottom: 10px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #ddd;
}

/* user */
#user {
    font-size: 17px;
    font-style: italic;
}

/* menu */
#menu {
    width: 180px;
}
#menu li {
    padding: 5px 7px;
}

/* tabs */
#tabs div{
    float: left;
    margin: auto;
    margin-left: 10px;
}
#tabs div div{
    border: 1px solid;
    border-bottom: none;
    background: #eee;
    margin-left: 0px;
    padding: 0px 7px;
    cursor: pointer;
}

#tabs div.content{
    background: #eee;
    text-align: left;
    padding: 0px 15px;
    margin-left: 10px;
    overflow-y: scroll;
    height: 290px;
    border: 1px solid;
    width: 350px;
}

/* footer */

/* text/titles */

/* navegation */

/* forms */

/* points*/
#points {
    width: 680px;
}
#points div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    width: 140px;
    font-size: 13px;
    margin: 5px 5px;
    padding: 5px 5px;
    border: 1px solid;
}
/* extra */

/* extra */
#modegame { 
    width: 400px; 
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
}
#modegame div {
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    width: 110px;
    height: 110px;
    padding: 5px;
    margin: 5px;
    font-size: 70px;
    line-height: 110px;
}

#modegame div.inactive {
    color: #eee;
    background:url("img/page_bg.gif") repeat-x bottom #f8f8f8;
}

#modegame div.active {
    color: #000;
    background:url("img/page_bg.gif") repeat-x bottom #f8f8f8;
}
/* benchmark */
#benchmark {padding:30px; color:#666}
#benchmark h2 {font-size:30px; font-weight:bold;}
#benchmark table {width:100%;}
#benchmark table th {font-weight:bold; font-size:18px}
#benchmark tr, #benchmark td, #benchmark th {border:1px solid #666; padding:10px}